{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="icon" href="{% static 'home/img/icon.ico' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <title>Yugioh Translations</title>
</head>
<body>
    <div id="main-container" class="container py-4 my-4">
        <div id="main-title" class="mb-5">
            <div class="ghost-div" style="flex: 1;"></div>
            <h1 class="text-primary">Yugioh Translations</h1>
            <div class="ghost-div" style="flex: 4;"></div>
        </div>
        {% for deck in decks %}
            <div class="deck-tab px-4 py-2 my-2"
            onclick="window.location.href = '/decklist/{{ deck.id }}/';">
                <h4 class="text-light my-0">{{ deck.name }}</h4>
            </div>
        {% endfor %}
    </div>
</body>
</html>