{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="icon" href="{% static 'home/img/icon.ico' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'decklist/css/base.css' %}">
    <title>{{ deck.name }} - Yugioh Translations</title>
</head>
<body>
    <div id="main-container" class="row" style="width: 100%; height: 100%;">
        <div id="deck-view" class="col-8">
            <div id="card-zoom">
                <p class="close">X</p>
                <img>
            </div>
            <div id="main-title" class="container badge-primary py-4 my-4">
                <h1 class="text">
                    {{ deck.name }}
                </h1>
            </div>
        </div>
        <div id="card-view-parent" class="col-4 pl-1">
            <div id="card-view">
                <div id="card-effect">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let deckId = {{ deck.id }},
        urls = {
            'get_cards': '/decklist/cards/',
            'cards_img': '{% static 'decklist/img/cards' %}',
        };
</script>
<script src="{% static 'decklist/js/js.js' %}"></script>
</html>