
:root {
	--dark1: #1d232a;
	--dark2: #2e3238;
	--white1: #d8dee9;
	--white2: #7b818a;
	--white3: #888888;
	--blue1: #5d99cc;
	--green1: #7dc794;
	--cyan1: #4fb4b4;
	--red1: #ec6056;
	--pink1: #c695c6;
}

